<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include('partialns/headers.ejs')%>
  </head>
  <body>
    <%- include('partialns/navegation.ejs') %> <%-
    include('partialns/img_principal.ejs')%>

    <main>
      <div class="container">
        <div class="card my-5 p-4">
          <h3 class="display-3 text-center my-4">History</h3>
          <p class="text-secondary text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            tenetur expedita voluptatum esse explicabo? Deserunt quaerat eum
            debitis numquam dolores. Mollitia dolorem ullam commodi
            exercitationem nobis tempore iure fugiat quam ducimus veniam alias
            iusto blanditiis, non harum ab facilis eius deserunt aliquam, culpa
            voluptatem, similique perferendis impedit vero asperiores.
            Asperiores, quae fugit. Laudantium voluptate maiores nostrum saepe,
            reprehenderit excepturi exercitationem praesentium adipisci labore,
            rerum molestias. Dolor ut nostrum fugiat hic quibusdam, id nihil vel
            non voluptas, nisi error magni totam ullam debitis suscipit vitae!
            Assumenda nemo nihil tempora culpa excepturi obcaecati quas?
            Possimus optio iure fugiat quidem dolores porro amet harum magni qui
            soluta omnis velit laboriosam ipsam aut dicta recusandae neque
            aspernatur, explicabo earum nostrum? Dolore odit cupiditate, placeat
            est blanditiis, obcaecati vitae earum quas non molestias maiores
            inventore labore, rerum voluptas numquam perferendis perspiciatis
            esse debitis libero? Amet voluptate ex blanditiis nostrum sint,
            doloremque omnis minus saepe nemo cum quas. Exercitationem saepe quo
            aspernatur dicta in cumque officiis est accusantium perferendis
            veniam, neque ratione, voluptas ex. Voluptatibus exercitationem quam
            fuga laborum, aliquam facere temporibus dolorem nesciunt nisi in
            nihil ratione ea dicta nulla eveniet reprehenderit voluptatum harum
            est dolores blanditiis aut reiciendis quod molestias? Perferendis
            autem dignissimos sequi consequatur, quis tempora at eveniet harum
            nobis! Incidunt odit qui ex deleniti ut, ratione inventore
            cupiditate exercitationem blanditiis doloribus nobis culpa
            temporibus delectus? Quos doloremque blanditiis dolorum ipsum,
            aperiam libero? Quo nisi temporibus ab porro quasi nostrum eligendi
            explicabo! Exercitationem voluptates culpa adipisci omnis nisi,
            ipsam eveniet. Voluptatibus, enim veritatis.
          </p>
          <div class="text-center mb-2">
            <a class="btn btn-primary w-25" href="/">Volver a inicio</a>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('partialns/footer.ejs') %></footer>
  </body>
</html>
