<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include('partialns/headers.ejs')%>
     <%- include('partialns/img_principal.ejs')%>
  </head>
  <body>
    <%- include('partialns/navegation.ejs') %>
    <main>
  <div class="container">
  <div class="row my-5 p-4">
   
      <div class="col-sm-6 text-white ">
        <p class="text-left ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi, fugit ad eos quo veniam, quia nesciunt officiis necessitatibus laboriosam placeat ducimus et assumenda doloribus tempore adipisci magnam dolor iure consequuntur. Soluta, ipsam molestiae maiores ducimus eius voluptas quisquam nulla eaque natus adipisci facere hic, qui reiciendis repudiandae at aperiam incidunt tempora illum? Voluptatem sed tempore corrupti architecto. Cum doloribus sit amet laborum itaque impedit, aperiam quam culpa quidem iusto quisquam unde. Temporibus ratione dolorem, cumque asperiores odit nisi nostrum. Omnis error nam quo tempora. Eum cumque quos similique eos placeat doloribus hic odio ut corrupti! Libero, similique nulla veniam dolor consectetur, veritatis placeat facilis est fugit iure dolorum sequi ipsa voluptatum error! Repudiandae fugit nobis autem numquam quae. Provident unde nihil dolorem? Asperiores libero iure, necessitatibus porro quaerat maxime quae incidunt minus cumque perspiciatis quam assumenda culpa optio recusandae eligendi nisi reprehenderit, quisquam nulla, neque natus cupiditate aliquam? Repellat!</p>
        <div class="text-center">
          <a class="btn btn-info w-25 " href="/about">About</a>
        </div>
      </div>
      <div class="col-sm-6">
        <%- include('partialns/imgs.ejs') %>
        </div>
  </div>
     </div>
    </main>
    <footer>
    <%- include('partialns/footer.ejs') %>
    </footer>
  </body>
</html>
